# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Environments
.env
.venv
venv/
ENV/

# IDEs
.vscode/
.idea/

# Project Specific
data/
data_raw/
configs/*.yaml
!configs/classes.yaml
!configs/aug_config.yaml
*.pt
*.onnx
*.weights

# Logs
*.log

# OS
.DS_Store
Thumbs.db

runs/